@media print {
  body * {
    visibility: hidden;
  }

  #bill-area, #bill-area * {
    visibility: visible;
  }

  #bill-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}