@page {
    size: A5 portrait;
    margin: 0;
}

@media print {
    .no-print { display: none !important; }
    .print-only {display: inline !important; }
    body, html { margin: 0 !important; padding: 0 !important; background: white !important; }
    .app-container {
        background: transparent !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        max-width: 100% !important;
    }
    print-bill {
        padding: 10mm !important;
        box-shadow: none !important;
    }
    #print-bill div { box-shadow: none !important; }
    .bill-table td, .bill-table th { -webkit-print-color-adjust: exact; print-color-adjust: exact; }
    }
